---
import HeaderLink from '@/components/HeaderLink'
import TwitterIcon from '@/components/icons/TwitterIcon'
import InstagramIcon from '@/components/icons/InstagramIcon'
import MenuIcon from './icons/MenuIcon.astro'
import SearchIcon from './icons/SearchIcon.astro'
import TagIcon from './icons/TagIcon.astro'
import ToggleTheme from './ToggleTheme.astro'

// ADD YOUR SOCIAL NETWORKS HERE
const SOCIALNETWORKS = [
	{
		name: 'Instagram',
		url: 'https://www.instagram.com/jfmontgar/',
		icon: InstagramIcon
	},
	{
		name: 'Twitter',
		url: 'https://x.com/jfmontgar',
		icon: TwitterIcon
	}
]
---

<header class='relative flex items-center h-12 font-semibold justify-between px-4'>
	<a class='text-lg' href='/'>Home</a>

	<nav class='flex items-center flex-1 justify-end space-x-4'>
		<div class='flex items-center space-x-4 md:space-x-6'>
			<HeaderLink href='/tags' class='flex items-center gap-1 text-2xl md:text-base'>
				<TagIcon /> Tags
			</HeaderLink>
			<HeaderLink href='/timeline' class='flex items-center gap-1 text-2xl md:text-base'>
				Timeline
			</HeaderLink>
			{
				SOCIALNETWORKS.map((network) => (
					<HeaderLink
						href={network.url}
						target='_blank'
						aria-label={network.name}
						class='text-2xl md:text-base'
					>
						<network.icon />
					</HeaderLink>
				))
			}
			<SearchIcon />
			<ToggleTheme />
		</div>
	</nav>

	<button id='astro-header-drawer-button' type='button' class='md:ml-6 md:hidden'>
		<MenuIcon />
		<span class='sr-only'>Show Menu</span>
	</button>
</header>
<script>
	document.addEventListener('click', (event) => {
		const menu = document.getElementById('astro-header-drawer')
		const menuButton = document.getElementById('astro-header-drawer-button')
		const isClickInside =
			menu?.contains(event.target as HTMLDivElement) ||
			menuButton?.contains(event.target as HTMLButtonElement)

		if (isClickInside) {
			menu?.classList.toggle('translate-x-96')
		} else {
			menu?.classList.add('translate-x-96')
		}
	})
</script>
